$clr_white: rgb(255, 255, 255);
$clr1_orange: rgb(218, 170, 14);
$clr2_green: rgb(127, 236, 55);
$clr3_gray: rgb(212, 213, 216);
$clr4_lime: rgb(170, 240, 113);
$clr5_blue: rgb(58, 107, 212);
$clr6_darkgray: rgb(49, 49, 48);